.episode-container {
  text-align: center;
}

.episode-image {
  border: 3px solid #FFFFFF;
  border-radius: 32px;
}

.episode-name {
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
}

.episode-overview {
  max-width: 85%;
  font-size: 16px;
  margin: 25px auto 0;
}

.episode-data {
  color: #FF0000;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .episode-image {
    width: 85%;
  }

  .episode-name {
    font-size: 24px;
    margin-top: 40px;
  }
  
  .episode-overview {
    font-size: 14px;
    margin: 20px auto 0;
  }
  
  .episode-data {
    font-size: 20px;
    margin-top: 30px;
  }
}